body{
    background: url("../images/to-do.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

table{
    font:0.8em/145% 'Trebuchet MS',helvetica,arial,verdana;
    border: none;
    width: 666px;
    border-spacing: 0;
}

tbody, thead tr { display: block; }

tbody {
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

tbody td:first-child, thead th:first-child {
    width: 350px;
    padding:15px;
}

tbody td, thead th {
    width: 175px;
    padding:15px;
}

thead th:last-child {
    width: 140px;
    padding:15px;
}
tbody td:last-child {
    width: 130px;
    padding:15px;
}

td, th {
    padding:5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}


thead th, tfoot td {
    background:#606060  repeat-x;
    color:#fff;
    font:1.5em/145% 'Trebuchet MS',helvetica,arial,verdana;
}


tbody th, tbody td {
    border-bottom: dotted 1px #333;
}

tbody th {
    white-space: nowrap;
}

tbody tr:nth-child(even) td {background: #CCC}

tbody tr:nth-child(odd) td {background: #DDD}